body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    transition: background-color 0.3s ease;
  }
  
  h1 {
    text-align: center;
  }
  
  .pokemon-info {
    text-align: center;
    margin-bottom: 20px;
  }
  
  select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #pokemon-details-1,
  #pokemon-details-2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #pokemon-details-1 img,
  #pokemon-details-2 img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  #battle-result {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Modo Noturno */
  body.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  body.dark-mode button {
    background-color: #555;
  }
  
  body.dark-mode button:hover {
    background-color: #444;
  }
  
  body.dark-mode select,
  body.dark-mode option {
    background-color: #555;
    color: #fff;
  }
  
  body.dark-mode #battle-result {
    color: #fff;
  }

  #toggle-dark-mode-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  #pokemon-details-1,
  #pokemon-details-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #pokemon-details-1 img,
  #pokemon-details-2 img {
    width: 200px;
    height: 200px;
    margin-right: 10px;
  }
  .pokemon-info span {
    margin-bottom: 10px;
  }
      